
<app-nav-bar></app-nav-bar>

<div class="container">
  <div class="container-detail">
    <ng-container *ngIf="loanData.length > 0; else notShow">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Fullname</th>
            <th scope="col">No. Handphone</th>
            <th scope="col">NIK</th>
            <th scope="col">Gender</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th scope="col">Reason</th>
            <th scope="col">Loan Amount</th>
            <th scope="col">Loan Period</th>
            <th scope="col">Paid / Month</th>
          </tr>
        </thead>
        <tbody>
 
            <ng-container  *ngFor="let data of loanData; let i=index">
                <tr>
                    <th scope="row">{{i + 1}}</th>
                    <td>{{data.name}}</td>
                    <td>{{data.phone}}</td>
                    <td>{{data.ktp}}</td>
                    <td>{{data.gender}}</td>
                    <td>{{data.dob}}</td>
                    <td>{{data.alamat}}</td>
                    <td>{{data.reason.toString()}}</td>
                    <td>{{data.amount}} juta</td>
                    <td>{{data.period}}</td>
                    <td>{{data.total}}</td>
                </tr>
            </ng-container>
        </tbody>
      </table>
    </ng-container>
    <ng-template #notShow> 
      <h2>Anda belum pernah melakukan pinjaman :(</h2>
    </ng-template>
  </div>
</div>  
  