<div class="form-container">

        <div class="col-sm-12 header">
           <a [routerLink]="['/']"> &lt; </a> Ajukan Pinjaman
        </div>
        <!-- <div class="slider-display"> -->
            <div class="col-sm-12 slider-display">
            <div class="row ">
                <div class="col-sm-12">
                    <div>Total Pinjaman</div>
                    <h4>Rp {{returnLoanAmount()}} Juta</h4>
                </div>
                <div class="col-sm-8">
                    <div>Cicilan per Bulan</div>
                    <h3>{{ returnLoanTotal() }} Juta</h3>
                </div>
                <div class="col-sm-4" style="text-align: right;">
                    <div>Lama Cicilan</div>
                    <h4>{{returnLoanPeriod()}} Bulan</h4>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <form [formGroup]="loanForm" (ngSubmit)="onSubmit($event)">
                <div class="form-group">
                  <label>Full Name</label>
                  <input type="text" class="form-control" formControlName="name">
                    <div class="error-message" *ngIf="error.name.touched && error.name.errors && error.name.errors.required">Nama harus diisi!</div>
                </div>

                <div class="form-group">
                    <label>No. Handphone</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">+62</div>
                        </div>
                        <input type="text" class="form-control" formControlName="phone" (keypress)="numericalInputOnly($event)">
                    </div>
                    <div class="error-message" *ngIf="error.phone.touched && error.phone.errors && error.phone.errors.required">Nomor handphone harus diisi!</div>
                    <div class="error-message" *ngIf="error.phone.touched && error.phone.errors && error.phone.errors.minlength">Nomor handphone minimal 9 karakter!</div>
                    <div class="error-message" *ngIf="error.phone.touched && error.phone.errors && error.phone.errors.maxlength">Nomor handphone maksimal 13 karakter!</div>
                </div>

                <div class="form-group">
                    <label>No KTP (NIK)</label>
                    <input type="tel" class="form-control" maxlength="16" (change)="checkKTP($event)" formControlName="ktp" (keypress)="numericalInputOnly($event)">
                      <div class="error-message" *ngIf="error.ktp.touched && error.ktp.errors && error.ktp.errors.required">Nomor KTP harus diisi!</div>
                      <div class="error-message" *ngIf="error.ktp.touched && error.ktp.errors && error.ktp.errors.minlength">Nomor KTP minimal 16 karakter!</div>
                  </div>

                  <label>Gender:</label><br>
                  <input type="radio" id="male" name="gender" formControlName="gender" value="Male">
                  <label for="male">Male</label><br>
                  <input type="radio" id="female" name="gender" formControlName="gender" value="Female">
                  <label for="female">Female</label><br>

                <div class="form-group">
                    <label>DOB</label>
                    <input class="form-control" type="date" id="start" name="dob" formControlName="dob">
                    <div class="error-message" *ngIf="error.dob.touched && error.dob.errors && error.dob.errors.required">DOB harus diisi!</div>
                </div>

                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="alamat"></textarea>
                    <div class="error-message" *ngIf="error.alamat.touched && error.alamat.errors && error.alamat.errors.required">DOB harus diisi!</div>
                </div>

                <div class="form-group">
                    <label>Reason</label>
                    <div *ngFor="let reason of reasons; let i=index">
                        <label>
                          <input type="checkbox" [value]="reason.value" (change)="onCheckboxChange($event)" />
                          {{reason.name}}
                        </label>
                    </div>
                </div>

                <button type="submit" [disabled]="loanForm.invalid" data-toggle="modal" data-target="#myModal" class="btn btn-primary mb-5">Submit</button>
                <div class="modal" tabindex="-1" id="myModal" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h1>Loan Success!! </h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="directToDetails()" [routerLink]="['/loan-detail']" data-dismiss="modal">Open Loan Details</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
        </div>
</div>
