.form-container {
    width: 35%;
    margin: 0 auto;
    background-color: #fff;
    .header {
        z-index: 1500;
        background-color: white;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 500;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: 150ms ease-in-out;
        transition: 150ms ease-in-out;
        box-shadow: 0 2px 3px 0px rgba(0,0,0,.2);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .slider-display {
        -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
        border-radius: 16px;
        margin-top: 15px;   
        width: 94%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
    }
    .btn{
        width: 100%;
        margin-bottom: 20px;
    }

    h2{
        margin: 0;
    }
}

.error-message {
    color: red;
}
