<h1>Breweries</h1>

<ul *ngIf="brews">
    <li *ngFor="let brew of brews">
        <p class="name">{{ brew.name }}</p>
        <p class="country"> {{brew.country}} </p>
        <a href="{{brew.website_url}}" class="site">site</a>
    </li>
</ul>